doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/css/font-awesome/font-awesome.css')
      link(rel='stylesheet', href='/components/angular-material/angular-material.min.css')
      link(rel='stylesheet', href='/components/angular-material/angular-material.layouts.min.css')
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/login.css')
    block js
       //app scripts
       script(src='/components/jquery/dist/jquery.min.js')
       script(src='/components/angular/angular.js')
       script(src='/components/angular-animate/angular-animate.min.js')
       script(src='/components/angular-aria/angular-aria.min.js')
       script(src='/components/angular-messages/angular-messages.min.js')
       script(src='/components/angular-material/angular-material.min.js')
       script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
       script(src='/components/lodash/dist/lodash.min.js')
       //user scripts
       script(src='/js/app.js')
       script(src='/js/home/directives/contextualMenu.js')
       script(src='/js/shared/services/api.service.js')
       script(src='/js/user/controllers/login.controller.js')
       script(src='/js/user/controllers/registration.controller.js')
       script(src='/js/user/controllers/users.controller.js')
       script(src='/js/home/controllers/home.controller.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
      block content
